//colores
$color-raiz: rgb(154, 91, 217);
$color-complementario: rgb(242, 185, 153);
$color-texto: rgb(191, 121, 96);
$color-bg: rgb(217, 215, 216);
$color-bg2: rgba(240, 248, 255, .3);
$color-basic: black;

//fuentes
$font-principal: 'montserrat', sans-serif;
$font-titles: 'Oleo Script Swash Caps', cursive;

//tamaño-fuentes
$fs-h1: 4.5rem;
$fs-h2: 3.2rem;
$fs-h3: 2.6rem;
$fs-p: 1.8rem;
$fs-button: 1.3rem;
$fs-html: 62.5%;

//width
$w-100: 100%;
$w-95: 95%;
$w-90: 90%;
$w-85: 85%;
$w-75: 75%;
$w-50: 50%;
$w-40: 40%;
$w-25: 25%;
